{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}

{% block page_content %}
    <div class="container">
        <h1>Listing of authors</h1>
        <ol>
        {% for author in authors %}
            <li>{{ author.name }}</li>
        {% endfor %}
        </ol>
        {{ dump() }}
    </div>
{% endblock %}
